extends layout
block content
    div( class = "row d-flex justify-content-center mt-3" )
        div( class = "col-md-5" )
            div( class = "alert alert-danger text-right" )  #{user['name']} @ #{email}