extends layout
block content
    div( class = "row d-flex justify-content-center " )
        div( class = "col-md-6" )
            div( class = "alert alert-success my-2") Users
            div( class = "list-group" )
                - counter = 1
                each user in users     
                    a(href="/user-home/"+user.email_address class="list-group-item list-group-item-action" ) 
                        span( class = "badge badge-primary mr-3" ) #{ counter }
                        span #{ user.name } 
                        -counter ++