extends layout

block content
  div( class = "row my-4 d-flex justify-content-center" )
    div( class = "col-md-6" )
      form(   action  =   "register"  , method  = "post"  )
        h1(   class   =   "text-right" ) 
          div( class = "alert alert-primary" ) Crowd Funding
        input( type = "text", class = "form-control" name = "name" placeholder = "Enter Name")
        input( type = "mail", class = "form-control" name = "email" placeholder = "Email Address")
        input( type = "text", class = "form-control" name = "phone_number" placeholder = "Phone Number")
        input( type = "text", class = "form-control" name = "location" placeholder = "Location")
        input( type = "password", class = "form-control" name = "password" placeholder = "Password")
        hr
        div( class = "row d-flex justify-content-center" )
          div( class = "col-md-8" )
            button( type = "submit", class = "btn btn-primary form-control" ) Enter
            button( type = "reset", class = "btn btn-secondary form-control" ) Clear

