extends layout

block content
  .container
    .row.d-flex.justify-content-center.my-3
      .col-md-6
        h1.text-center.text-danger Login
        if code
            if (code == 1)
              .alert.alert-success #{msg}
        form( method = "post" , action = "home" )
          input(type="email", placeholder="Email Address", name = "email_address").form-control
          input(type="password", placeholder="Password", name = "password").form-control
          .form-inline.d-flex.justify-content-center
            button.btn.btn-primary.btnx(type = "submit") Enter
            button.btn.btn-secondary.btnx(type = "reset") Clear
          .d-flex.justify-content-center
            a( href = "/").badge.badge-primary Not Registered? Click Here To Register


     
  
