extends layout

block content
  .container
    .row.d-flex.justify-content-center.my-3
      .col-md-6
        form( action = "register-user", method = "post" )
          h1.text-center.text-danger Register
          if code
            if ( code == 2 )
              .alert.alert-danger #{msg}
          else
            .alert.alert-primary Enter Credentials
          input(type="text", placeholder="Enter Name", name = "name" ).form-control
          input(type="email", placeholder="Email Address", name = "email_address" ).form-control
          input(type="phone", placeholder="Phone Number", name = "phone_number" ).form-control
          input(type="password", placeholder="Password", name = "password" ).form-control
          .form-inline.d-flex.justify-content-center
            button.btn.btn-primary.btnx( type = "submit" ) Enter
            button.btn.btn-secondary.btnx( type = "reset") Clear
          .d-flex.justify-content-center
            a( href = "login").badge.badge-danger Already Registered? Click Here To Log In


     
  
